.top{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
    border-radius: 8px;
}
h1{
    text-align: center;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 90%;
    padding: 8px;
    font-size: 16px;
}
.btn-success{
    width: 20%;
}
li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
li button{
    margin-left: auto;
    width: 15%;

}
input[type="checkbox"]:checked+h5{
    text-decoration: line-through;
    color: grey;
}