<h1>Directives</h1>
<h2>{{age}}</h2>
<h2 *ngFor="let age of ages">My age is:{{age}}</h2>

<h5>{{state}}</h5>

<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select><br>

<h3 *ngFor="let product of products">{{product.productName}} cost is {{product.price}}</h3>

<table border="1" [cellPadding]="10" [cellSpacing]="0">
    <thead>
        <tr>
            <th>S NO</th>
            <th>productName</th>
            <th>product price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index">
         <td>{{i+1}}</td>
         <td>{{product.productName}}</td>
         <!-- <td>{{product.price}}</td> -->
          <!-- <td [ngStyle]="{'color':product.price<=50000 ? 'green':'red'}">{{product.price}}</td> -->
          <td [ngClass]="{'green':product.price<=50000, 'red':product.price>1000000}">{{product.price | currency}}</td>


        </tr>
    </tbody>
</table>

<h1 *ngIf="true">Hi Team</h1>
<h1 *ngIf="false">This is Dinesh</h1>

<h1>{{today}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date:"dd/MM/yyyy"}}</h1>
<h1>{{today | date:"yyyy-MM-dd"}}</h1>
<h1>{{today | date:"hh:mm":"IST"}}</h1>

