<h1>Accounts</h1>

<input type="text" [(ngModel)]="term" (keyup)="filter()">

<select [(ngModel)]="column">
    <option>account_name</option>
    <option>account_number</option>
    <option>available_balance</option>
    <option>city</option>
    <option>profie_picture</option>
</select>

<select  [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button class="btn btn-primary" (click)="sort()">sort</button>

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
</select>

<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>

</select>
<button  class="btn btn-primary" (click)="pagination()">Pagination</button>


<button class="btn btn-info" routerLink="/dashboard/create-accounts">Create accounts</button>




<table class="table table-primary">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Account number</th>
            <th>Avaible balance</th>
            <th>city</th>
            <th>Profile picture</th>
            <th>Id</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accounts of accounts">
            <td>{{accounts.account_name}}</td>
            <td>{{accounts.account_number}}</td>
            <td>{{accounts.available_balance}}</td>
            <td>{{accounts.city}}</td>
            <td>
                <a href="{{accounts.profie_picture}}"></a>
            </td>
            <td>{{accounts.id}}</td>
            <td>
                <button class="btn btn-info" routerLink="/dashboard/accounts-details/{{accounts.id}}"><i class="bi bi-eye-fill"></i></button>
             </td>

             <td>
                <button class="btn btn-info" routerLink="/dashboard/edit-accounts/{{accounts.id}}"><i class="bi bi-pencil-square"></i></button>
             </td>

            <td>
                <button class="btn btn-danger" (click)="delete(accounts.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
