<script>
        function ADD(){
            var a =document.getElementById('a').valueAsNumber;
            console.log(a);
            var b =document.getElementById('b').valueAsNumber;
            console.log(b);

            var result=(a+b);
            console.log(result);

            document.getElementById('calculator').innerText=result;
        }

        function SUB(){
            var a =document.getElementById('a').valueAsNumber;
            console.log(a);
            var b =document.getElementById('b').valueAsNumber;
            console.log(b);

            var result=(a-b);
            console.log(result);

            document.getElementById('calculator').innerText=result;
        }
        function MUL(){
            var a =document.getElementById('a').valueAsNumber;
            console.log(a);
            var b =document.getElementById('b').valueAsNumber;
            console.log(b);

            var result=(a*b);
            console.log(result);

            document.getElementById('calculator').innerText=result;
        }
        function DIV(){
            var a =document.getElementById('a').valueAsNumber;
            console.log(a);
            var b =document.getElementById('b').valueAsNumber;
            console.log(b);

            var result=(a/b);
            console.log(result);

            document.getElementById('calculator').innerText=result;
        }
          </script>

<div class="parent">
    <div class="right">
    
      <h1>calculator</h1>
        <label for="">a</label>
        <input type="number" [(ngModel)]="a"><br>
        <label for="">b</label>
        <input type="number" [(ngModel)]="b"><br>
        <h2 id="calculator"></h2>
    
        <button (click)="ADD()">+</button>
        <button (click)="SUB()">-</button>
        <button (click)="MUL()">*</button>
        <button (click)="DIV()">/</button>

        <h2>Sum is :{{result}}</h2>
        
    </div>

</div>
