<div class="parent">
    <div class="card">
        <p>{{ date | date:'medium':'UTC+5:30'}}</p>
        <h4>Weather in Hyderabad</h4>

        <svg [ngClass]="{'blue':weathers.current_weather.temparature <0,'yellow':weathers.current_weather.temparature>=0 && weathers.current_weather.temparature <=30, 'green':weathers.current_weather.temparature >=30 && weathers.current_weather.temparature <=35,'red':weathers.current_weather.temparature >35}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          </svg>
          <h1>{{weathers.current_weather.temperature}}{{weathers.current_weather_units.temperature}}</h1>
          <h6>Windspeed: {{weathers.current_weather.windspeed}}  km/h</h6>
          <h6>Winddirection: {{weathers.current_weather.winddirection}}  (NE)</h6>
          <h5>{{weathers.current_weather.is_day ==0 ? 'Daytime' : 'Nighttime'}}</h5>
    </div>

</div>