
<form action="" [formGroup]="studentcardForm">

    <label for="">Name</label>
    <input type="text" formControlName="name"><br>
   

    <label for="">Phone</label>
    <input type="text" formControlName="phone"><br>


    <label for="">City</label>
    <input type="text" formControlName="city"><br>

    <label for="">D.O.B</label>
    <input type="text" formControlName="dob"><br>

    <label for="">E mail</label>
    <input type="text" formControlName="email"><br>

    <label for="">School Logo</label>
    <input type="text" formControlName="school_logo"><br>

    <label for="">School Name</label>
    <input type="text" formControlName="school_name"><br>

    <label for="">School City</label>
    <input type="text" formControlName="school_city"><br>

    <label for="">School Pin</label>
    <input type="text" formControlName="school_pin"><br>

    <button class="btn btn-info" (click)="create()">submit</button>

</form>
