

    <script>
        function submit(){
        var length =document.getElementById('length').value;
        console.log(length);
        var breadth =document.getElementById('breadth').value;
        console.log(breadth);

        var result =length*breadth;
        var result=2*(length+breadth);
        console.log(result);

        }
    </script>

<div class="parent">
    <div class="right">

<h1>rectangle</h1>
<label for="">length</label>
<input type="number" [(ngModel)]="length"><br>
<label for="">breadth</label>
<input type="number" [(ngModel)]="breadth"><br>

<button (click) ="area()"><b>Area</b></button>
<button (click) ="perimeter()"><b>Perimeter</b></button>

<h2>Result is:{{result}}</h2>

 </div>

</div>


