<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="data-binding">Data Binding</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="bmi">BMI</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="myntra">Myntra</h3>
        <h3 routerLink="mail">Mail</h3>
        <h3 routerLink="pinterest">Pinterest</h3>
        <h3 routerLink="blog">Blog</h3>
        <h3 routerLink="movie">Movie</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink="accounts">Accounts</h3>
        <h3 routerLink="studentcard">Studentcard</h3>
        <h3 routerLink="profiles">Profiles</h3>
        

        <br>
        <button>Logout</button>

    </div>
    <div class="right">
    <router-outlet></router-outlet>
    </div>
</div>
