<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">Welcome</h4>
        <h4 routerLink="data-binding">Data Binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="circle">Circle</h4>
        <h4 routerLink="bmi">BMI</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="employee">Employee</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="myntra">Myntra</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="pinterest">Pinterest</h4>
        <h4 routerLink="blog">Blog</h4>
        <h4 routerLink="movie">Movie</h4>
        <h4 routerLink="weather">Weather</h4>
        <h4 routerLink="accounts">Accounts</h4>
        <h4 routerLink="studentcard">Studentcard</h4>
        <h4 routerLink="profiles">Profiles</h4>
        <h4 routerLink="create-user">Create-User</h4>
        <h4 routerLink="create-student">Create-Student</h4>
        <h4 routerLink="sibling1">sibling1</h4>
        <h4 routerLink="sibling2">sibling2</h4>
        <h4 routerLink="textarea">Textarea</h4>
        <br>
        <button (click)="logout()">Logout</button>

    </div>
    <div class="right">
    <router-outlet></router-outlet>
    </div>
</div>
