body{
    margin: 0;
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color:aqua;
    display: flex;
    overflow: auto;
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(176, 60, 60);
    color: antiquewhite;
    overflow: auto;
    padding-left: 60px;

}
.right{
    width: 80%;
    height: 100%;
    background-color: grey;
    color: black;
    overflow: auto;
}
